body
{
background-color: gray;
}
#lens_logo
{
height: 200px;width: 330px;margin-left: 500px;
}
h3
{
margin-left: 650px;
}
.mobilenet
{
margin-left: 550px;font-size: 40px;font-weight: bolder;
}
img
{
width: 350px;height: 350px;
}
.copy_right_footer
{
position: fixed;background-color: darkblue;color: white;
}